:root {
    --main_theme: #5f3f32;
    --burger-menu-theme: #49352e;
    --active-element: #3e2d27;
    --content: #ecdfdf;
    --container: #b1a1a1;
    --button: #877272;
}

@media (max-width: 820px) {
    .app-wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .app-overlay {
        background-color: rgba(0,0,0,0.7);
    }
    .hidden {
        display: none;
    }
}
